

body {
  background-color: #000;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 500px;
  font-family: 'K2D', sans-serif;
  font-family: 'Roboto', sans-serif;
  padding: 1em;
  border-radius: 10px;
}

#popup-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.header {
  font-family: 'K2D';
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
}

.main {
  font-family: 'K2D';
  font-weight: 900;
  font-size: 6rem;
  background: linear-gradient(180deg, #65FF4D 0%, #00FBA0 133.33%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  margin: 0px !important;
}

.link {}

.bodys {
  font-family: 'K2D';
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 52px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.015em;
  color: #FFFFFF;
  width: 100%;
}

.body-comp {
  width:80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button{
  font-size: 2em;
  padding: 0.5em 1em;
  margin: 1em;
  border: none;
  border-radius: 10px;
  background : none;
  background-color: lightskyblue;
  color: #000;
  transition: 0.2s;
}

button:hover{
  background-color: #fff;
  color: #000;
  transition: 0.2s;
}